html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  color: rgb(70, 47, 182)
}

body {
  background-color: #e6dbdb;
}

.project {
  color: white;
}

a:hover {
  color: #5094b4
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(57, 31, 189)
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display: inline;
}

.clear {
  clear: both;
}

body,
#aboutme {
  background-color: rgb(160, 160, 160);
}

#project-container,
#aboutme {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

.project {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(57, 31, 189);
}

.project img,
#aboutme img {
  width: 230px;
  float: left;
  margin-right: 100px;
  margin bottom: 20px;
}


.project h2,
#aboutme h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
